
mixin social-header(...data)
  ul.list-unstyled.list-inline
    each item in data
      li.list-inline-item
        a(href="#", title="")
          i(class="fa fa-" + item)

mixin social-footer(data)
  .social__content
    ul.list-unstyled
      each val, index in data
        li.py-1
          a(href="#", title="").
            #[i(class="mr-2 fa fa-" + val)] 
            #{index}

mixin breadcum(data)
  if data.singlePage
    ul.list-inline.list-unstyled.breadcum.pt-4.pb-2
      li.list-inline-item
        a(href="index.html", title="home") Trang chủ
      li.list-inline-item
        a(href="product.html", title="home") Danh mục sản phẩm
      li.list-inline-item= data.title
  else
    ul.list-inline.list-unstyled.breadcum.pt-4.pb-2
      li.list-inline-item
        a(href="index.html", title="home") Trang chủ
      li.list-inline-item= data.title

mixin menu()
  - 
    var menu = [
      {
        text: 'Trang chủ',
        href: 'index.html',
        active: true
      },
      {
        text: 'Giới thiệu',
        subMenu: [
          {
            text: 'Giới thiệu chung'
          }, 
          {
            text: 'Hệ thống cửa hàng',
            secondMenu: [
              {text: 'Hệ thống cửa hàng A'}, 
              {text: 'Hệ thống cửa hàng A1'}, 
              {text: 'Hệ thống cửa hàng A2'}, 
              {text: 'Hệ thống cửa hàng A3'}
            ]
          }, 
          {
            text: 'Chính sách ưu đãi'
          }, 
          {
            text: 'Thông tin tuyển dụng'
          }
        ]
      },
      {
        text: 'Sản phẩm',
        href: 'product.html',
        mega: true,
        desktop: true
      },
      {
        text: 'Sản phẩm',
        href: 'product.html',
        mobile: true
      },
      {
        text: 'Tin khuyến mại',
      },
      {
        text: 'Dịch vụ'
      },
      {
        text: 'Liên hệ'
      }
    ];
  nav(class="navbar navbar-expand-lg navbar-dark")
    button(
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      )
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="navbar-nav menu__main")
        each item in menu
          if item.mobile
            li(class="nav-item d-inline-block d-lg-none")
              a(class="nav-link", href=".mega-menu-mobile", title="", data-toggle="collapse")=item.text
                i.fa.fa-caret-down
              +mega-menu-mobile()
          else
            li(class=item.active ? 'nav-item active' : 'nav-item', class=item.desktop ? 'd-none d-lg-inline-block' : '')
              if item.href
                a(class="nav-link", href=item.href, title="")=item.text
              else
                a(class="nav-link", href="#", title="")=item.text
              if item.mega
                +mega-menu()
              if item.subMenu
                ul.list-unstyled.shadow.sub-menu
                  each sub in item.subMenu
                    li.nav-item
                      a(href="#", title="") #[i.fa.fa-caret-right.mr-1] #{sub.text}
                      if sub.secondMenu
                        ul.list-unstyled.shadow.second-menu
                          each second in sub.secondMenu
                            li.nav-item
                              a(href="#", title="") #[i.fa.fa-caret-right.mr-1] #{second.text}
    .menu__cart.ml-auto
      a(class="nav-link", href="cart.html", title="")
        span.badge 0
        i.fa.fa-shopping-basket
      ul.list-group.shadow.cart-content
        - for(let x = 1; x < 4; x++)
          li.list-group-item
            .media
              img(src="images/product-promo" + x + '.jpg', alt="", class="img-fluid")
              .media-body.ml-3
                a(href="single-product.html", title="") MÁY KHOAN BLACK DECKER
                a(aria-hidden="true", class="close float-right rounded-circle border")
                  i.fa.fa-times
                span.product__price.d-block #[span.cart-quantity 1 x ] 1.250.000 Đ
        li.list-group-item.text-right
          p
            span tổng tiền: 
            span.product__price 4.560.000 Đ
          a(href="#", title="thanh toán") thanh toán

mixin slider-promo(data)
  .slider__promo.mb-3.mb-xl-0
    .media.border.slider__content
      i(class="align-self-center mr-4 float-left fa fa-" + data.icon)
      .media-body
        h6=data.heading
        p=data.text

mixin sidebar-category(...data)
  ul.list-group.shadow
    each item in data
      li.list-group-item
        a(href="", title="") #[i.fa.fa-th-large.mr-1] #{item} 

mixin title(data)
  if data.titleSidebar
    .page-heading.m-0.d-flex.align-items-center
      i(class="fa fa-" + data.icon)
      h3.ml-2=data.titleSidebar
  else
    .page-heading.d-flex.align-items-center
      i(class="fa fa-" + data.icon)
      h2= data.text
    
mixin footer-menu(...data)
  ul.list-unstyled
    each item in data
      li.py-1
        a(href="#", title="")=item

mixin banner(data)
  .banner__item
    .banner__content
      span.sale-off GIẢM
        b= data.sale
      h2= data.heading
      h5= data.subHeading
      span.price= data.price + " Đ"
      p= data.text 
        em.sale=data.priceSale + " Đ"
    img(src="images/" + data.imgName, alt="banner image", class="img-fluid")

mixin product-block(data)
  if data.productList
    .media.product.product-list.d-flex.flex-column.flex-md-row.wow.fadeInUp&attributes({'data-wow-duration':'1.2s', 'data-wow-delay': '0.5s'})
      .product__img.text-center
        a(href="single-product.html", title="")
          img(src="images/" + data.imgName, alt="", class="img-fluid")
      .media-body.ml-4
        .product__caption
          h3.product__title.my-2
            a(href="single-product.html", title="")= data.title
          ul.list-inline.list-unstyled.rating
            - for (let x = 0; x < 4; x++)
              li.list-inline-item
                a(href="#", title="rating")
                  i.fa.fa-star
            li.list-inline-item
                a(href="#", title="rating")
                  i.fa.fa-star-o
            li.list-inline-item
              em (12 đánh giá)
          p.py-2.text-justify.text-md-left= data.text
        span.product__price= data.price + " Đ"
        .product__action.py-3.pt-2
          a(href="#", title="", class="mr-1 mb-2 mb-md-0") mua ngay
          a(href="single-product.html", title="") xem chi tiết
  else
    .product.wow.zoomIn&attributes({'data-wow-duration':'1.2s', 'data-wow-delay': '0.5s'})
      .product__img.text-center
        a(href="single-product.html", title="")
          img(src="images/" + data.imgName, alt="", class="img-fluid")
      .product__caption.text-center.py-3.pb-md-5
        span.product__price= data.price + " Đ"
        h3.product__title.my-2
          a(href="single-product.html", title="")= data.title
        ul.list-inline.list-unstyled.rating
          - for (let x = 0; x < 5; x++)
            li.list-inline-item
              a(href="#", title="rating")
                i(class= x===4 ? 'fa fa-star-o' : 'fa fa-star')
          li.list-inline-item
            em (12 đánh giá)
      .product__action.text-center.pb-4.mt-2
        a(href="#", title="", class="mr-1") mua ngay
        a(href="single-product.html", title="") xem chi tiết

mixin promo-product(data)
    li.list-group-item
      .media
        img(src="images/" + data.imgName, alt="", class="img-fluid")
        .media-body.ml-3
          h4.product__title
            a(href="single-product.hml", title="",)= data.title
          span.product__price=data.price

mixin product-color(...data)
  ul.list-group.shadow
      each item in data
        li.list-group-item
          a(href="", title="") #[span.mr-1] #{item} 
          
mixin mega-menu()
  - 
    var megaItem = [
      {
        icon: 'th-large', 
        text: 'MÁY KHOAN ĐA NĂNG CNC',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        icon: 'th-large', 
        text: 'MÁY CẮT PLASMAR',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        icon: 'th-large', 
        text: 'MÁY PHAY CÔNG NGHIỆP',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        icon: 'th-large', 
        text: 'MÁY ÉP NHỰA THỦ CÔNG',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      },
      {
        icon: 'th-large', 
        text: 'MÁY UỐNG TÔN ĐIỆN',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      },
      {
        icon: 'th-large', 
        text: 'MÁY NÉN KHÍ CNC',
        megaArr: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      }
    ]
  .mega-menu.shadow.d-none.d-lg-block
    .row
      .col-sm-9
        .row
          each item in megaItem
            .col-sm-4
              .mega-menu__item
                +title({icon: item.icon, text:item.text})
                if item.megaArr
                  ul.list-unstyled
                    each arr in item.megaArr
                      li.nav-item
                        a(href="product.html", title="") #[i.fa.fa-caret-right.mr-3] #{arr}
      .col-sm-3.pl-1.pb-3
        .mega-menu___img
          img(src="images/mega-menu-img.jpg", alt="mega img", class="img-fluid")

mixin mega-menu-mobile()
  - 
    var megaMobile = [
      {
        text: 'Máy khoan đa năng CNC',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        text: 'Máy cắt Plasmar',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        text: 'Máy phay công nghiệp',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện',
          'Máy ép gỗ chuẩn Nano'
        ]
      },
      {
        text: 'Máy ép nhựa thủ công',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      },
      {
        text: 'Máy uống tôn điện',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      },
      {
        text: 'Máy nén khí CNC',
        subMenu: [
          'Máy khoan CNC điện',
          'Máy phay đa năng 3R',
          'Máy hàn, cắt kim loại',
          'Máy in phun tích điện'
        ]
      }
    ]
  .mega-menu-mobile.collapse
    ul.list-unstyled.shadow.sub-menu
      each item in megaMobile
        li.nav-item
          a(href="#", title="") #[i.fa.fa-caret-right.mr-1] #{item.text}
          if item.subMenu
            ul.list-unstyled.shadow.second-menu
              each sub in item.subMenu
                li.nav-item
                  a(href="#", title="") #[i.fa.fa-caret-right.mr-1] #{sub}

mixin pagination(page)
  ul.pagination.justify-content-center.justify-content-sm-end.mb-4.mb-xl-0.mt-0.mt-xl-5.pt-3
    li.page-item
      a(href="#", class="page-link") Trang trước
    - for (let x = 1; x < page; x++)
      li.page-item(class=x===1 ? 'active' : '')
        a(href="#", class="page-link")= x
    li.page-item
      a(href="#", class="page-link") Trang cuối
