
mixin social-header(...data)
  ul.list-unstyled.list-inline
    each item in data
      li.list-inline-item
        a(href="#", title="")
          i(class="fa fa-" + item)

mixin social-footer(data)
  .social__content
    ul.list-unstyled
      each val, index in data
        li.py-1
          a(href="#", title="").
            #[i(class="mr-2 fa fa-" + val)] 
            #{index}

mixin breadcum(data)
  if data.singlePage
    ul.list-inline.list-unstyled.breadcum.pt-4.pb-2
      li.list-inline-item
        a(href="index.html", title="home") Trang chủ
      li.list-inline-item
        a(href="product.html", title="home") Danh mục sản phẩm
      li.list-inline-item= data.title
  else
    ul.list-inline.list-unstyled.breadcum.pt-4.pb-2
      li.list-inline-item
        a(href="index.html", title="home") Trang chủ
      li.list-inline-item= data.title

mixin slider-promo(data)
  .slider__promo.mb-3.mb-xl-0
    .media.border.slider__content
      i(class="align-self-center mr-4 float-left fa fa-" + data.icon)
      .media-body
        h6=data.heading
        p=data.text

mixin sidebar-category(...data)
  ul.list-group.shadow
    each item in data
      li.list-group-item
        a(href="", title="") #[i.fa.fa-th-large.mr-1] #{item} 

mixin title(data)
  if data.titleSidebar
    .page-heading.m-0.d-flex.align-items-center
      i(class="fa fa-" + data.icon)
      h3.ml-2=data.titleSidebar
  else
    .page-heading.d-flex.align-items-center
      i(class="fa fa-" + data.icon)
      h2= data.text
    
mixin footer-menu(...data)
  ul.list-unstyled
    each item in data
      li.py-1
        a(href="#", title="")=item

mixin banner(data)
  .banner__item
    .banner__content
      span.sale-off GIẢM
        b= data.sale
      h2= data.heading
      h5= data.subHeading
      span.price= data.price + " Đ"
      p= data.text 
        em.sale=data.priceSale + " Đ"
    img(src="images/" + data.imgName, alt="banner image", class="img-fluid")

mixin promo-product(data)
    li.list-group-item
      .media
        img(src="images/" + data.imgName, alt="", class="img-fluid")
        .media-body.ml-3
          h4.product__title
            a(href="single-product.hml", title="",)= data.title
          span.product__price=data.price

mixin product-color(...data)
  ul.list-group.shadow
      each item in data
        li.list-group-item
          a(href="", title="") #[span.mr-1] #{item} 

mixin pagination(page)
  ul.pagination.justify-content-center.justify-content-sm-end.mb-4.mb-xl-0.mt-0.mt-xl-5.pt-3
    li.page-item
      a(href="#", class="page-link") Trang trước
    - for (let x = 1; x < page; x++)
      li.page-item(class=x===1 ? 'active' : '')
        a(href="#", class="page-link")= x
    li.page-item
      a(href="#", class="page-link") Trang cuối
